<!DOCTYPE html>
<html>
<head>
    <title>Vertex Search AI Example</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Google Cloud Vertex AI Search Example</h1>

    <!-- This section contains the contents for the search widget -->
    <!-- ----------START---------- -->

    <!-- Widget JavaScript bundle -->
    <script src="https://cloud.google.com/ai/gen-app-builder/client?hl=en_US"></script>

    <!-- Search widget element is not visible by default -->
    <gen-search-widget
    configId="92136207-67f4-4db7-939e-3837639898fa"
    location="us"
    triggerId="searchWidgetTrigger">
    </gen-search-widget>

    <div class="searchbox">
        <!-- Element that opens the widget on click. It does not have to be an input -->
        <input placeholder="Search here for AskHR" style="height:40px; border: 2px solid black; border-style:solid; border-width:small;" size="70" id="searchWidgetTrigger" />
    </div>

    <!-- -----------END----------- -->

    <div class="container">
        <h2>Enter your question in the search box</h2>
        <br>
        <p>Vertex AI Search is a fully managed platform for developers to build Google-quality search experiences for websites using structured and unstructured data.</p>
    </div>
</body>
</html>